<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="E2ETest" parallel="tests" thread-count="2">
    <test name="Emulator-Nexus5">
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="systemPort" value="8200"/>
        <packages>
            <package name="book_information"/>
        </packages>
    </test>
    <test name="Emulator-Pixel3">
        <parameter name="udid" value="emulator-5556"/>
        <parameter name="systemPort" value="8201"/>
        <packages>
            <package name="book_information"/>
        </packages>
    </test>
</suite>